{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des commentaires{% endblock %}

{% block body %}
    <main>
        <section>
            <h1 class="text-2xl font-bold mb-2">Gestion des commentaires</h1>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-4">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Image de profil
                        </th>
                        <th scope="col" class="px-6 py-3" {% if comments.isSorted('Utilisateur') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(comments, 'Utilisateur', 'user') }}
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Formation
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Commentaire
                        </th>
                        <th scope="col" class="px-6 py-3" {% if comments.isSorted('Nombre d\'étoiles') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(comments, 'Nombre d\'étoiles', 'cotation') }}
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Actions
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for comment in comments %}
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <img src="{{ asset('images/avatar/' ~ comment.user.image) }}" alt="{{ comment.user.lastname }}">
                            </td>
                            <td class="px-6 py-4">
                                {{ comment.user.firstname }} {{ comment.user.lastname }}
                            </td>
                            <td class="px-6 py-4">
                                {{ comment.course.name }}
                            </td>
                            <td class="px-6 py-4">
                                {{ comment.content }}
                            </td>
                            <td class="px-6 py-4">
                                {{ comment.cotation }}
                            </td>
                            <td class="px-6 py-4 mt-4 flex items-center h-full gap-1">
                                {# Edit button #}
                                <a href="{{ path('app_admin_level_edit', {id: comment.id}) }}">
                                    {{ ux_icon('heroicons:pencil-square-solid', {class: 'w-5 h-5 hover:text-blue-500'}) }}
                                </a>

                                {# Hide button #}
                                <a href="{{ path('app_admin_comment_hide', {id: comment.id}) }}">
                                    {% if not comment.isDisabled %}
                                        {{ ux_icon('heroicons:eye', {class: 'w-5 h-5 hover:text-lime-500'}) }}
                                    {% else %}
                                        {{ ux_icon('heroicons:eye-slash', {class: 'w-5 h-5 hover:text-lime-500'}) }}
                                    {% endif %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>



            <div>
                {{ knp_pagination_render(comments, 'partials/pagination.html.twig') }}
            </div>
        </section>
    </main>
{% endblock %}
