{% extends 'admin/base.html.twig' %}

{% block title %}Gestion Catégories{% endblock %}

{% block body %}
    <main>
        <section>
            <h1 class="text-2xl font-bold mb-2">Gestion des catégories</h1>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-4">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3" {% if categories.isSorted('Nom') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(categories, 'Nom', 'name') }}
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Description
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Actions
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <td class="px-6 py-4">
                                {{ category.name }}
                            </td>
                            <td class="px-6 py-4">
                                {{ category.description }}
                            </td>
                            <td class="px-6 py-4 mt-4 flex items-center h-full gap-1">
                                {# Edit button #}
                                <a href="{{ path('app_admin_category_edit', {id: category.id}) }}">
                                    {{ ux_icon('heroicons:pencil-square-solid', {class: 'w-5 h-5 hover:text-blue-500'}) }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>



            <div>
                {{ knp_pagination_render(categories, 'partials/pagination.html.twig') }}
            </div>
        </section>
    </main>
{% endblock %}